body {
    background: #f3f3f3;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}
.intro{
    margin: 0 auto;
    width:50%;
}
.intro h1{
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.intro h2{
    font-size:35px;
    margin-bottom:30px;
}
.intro p{
    margin: 0 auto;
    width: 50%;
    font-size: 25px;
}
.intro .button{
    width: 25%;
    padding: 30px 0;
    color: #ffffff; 
    transition-duration: 0.4s; 
    font-weight: bold;
}
.intro .button:hover{
    background-color: #ffffff;
    color: #330955;
    border: 2px solid #330955;
}
.clear {
    clear: both; 
}
.clearfix:after {
    content: "";
    display: table;
    clear: both; 
}
.hidden {
    opacity: 0; 
}
.full-screen{
    height:100vh}
.position-relative{
    position:relative!important
}
  
  .button {
    font-family: 'raleway', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    display: block;
    margin: 5% auto;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.5s ease-in-out, 1s;
    -moz-transition: background-color 0.5s ease-in-out, 1s;
    -o-transition: background-color 0.5s ease-in-out, 1s;
    transition: background-color 0.5s ease-in-out, 1s;
    text-decoration: none; }

/*HEADER*/
  header[role="banner"] {
    background: #000000;
    width: 100%;
    position: fixed;
    z-index: 3;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media screen and (max-width: 768px) {
      header[role="banner"] {
        position: absolute; } }
  
  @media screen and (max-width: 768px) {
    header[role="banner"] .page-wrap {
      width: 100%; } }

  .shadowed {
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  
  header[role="banner"].not-fixed {
    position: absolute; }

  header[role="banner"] nav {
    float: right; }
  
  @media screen and (max-width: 768px) {
    .js #main-nav {
      clip: rect(0 0 0 0);
      max-height: 0;
      position: absolute;
      display: block;
      overflow: hidden; } }

  #main-nav {
    
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0); }
    @media screen and (max-width: 768px) {
      #main-nav {
        width: 100%; } }
  
  @media screen and (max-width: 768px) {
    #main-nav.opened {
      height: 100%; } }
  
  #main-nav ul {
    display: block;
    list-style: none; }

  #main-nav li {
    float: left;
    display: block; }
    @media screen and (max-width: 768px) {
      #main-nav li {
        width: 100%;
        float: none;
        background: #fff; } }

  #main-nav a {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    padding: 1em 2em;
    margin-top: 2em;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent; }
    @media screen and (max-width: 768px) {
      #main-nav a {
        color: #d24d57;
        margin-top: 0;
        border-bottom: 1px solid #f8f8f8; } }

  #main-nav a:hover {
    border-bottom: 3px solid #fff; }
    @media screen and (max-width: 768px) {
      #main-nav a:hover {
        background: #d24d57;
        color: #fff;
        border-bottom: 1px solid #d24d57; } }

  #main-nav .on-white {
    color: #d24d57;
    padding-bottom: 3em; }
  
  #main-nav .on-white:hover,
  #main-nav .active .on-white {
    border-bottom: 3px solid #d24d57; }

  #toggle {
    display: none;
    text-decoration: none; }
    @media screen and (max-width: 768px) {
      #toggle {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: block;
        float: right;
        font-size: 2.5em;
        color: #fff;
        z-index: 1;
        margin-top: 0.75em;
        margin-right: 5%; } }
    @media screen and (max-width: 640px) {
      #toggle {
        font-size: 1.875em;
        margin-right: 3%; } }
  
  /* Home */
  #home {
    background: #000000;
    padding: 12.5em 0;
    color: #fff;
    text-align: center;
  }

  /* PORTFOLIO --------------------------------------------------------------------------------*/
 #portfolio {
     background:#ebebeb;
     padding: 8.5em 0;
     color: #000000;
     text-align: center;   
 }
 .portfolio-header {
     margin: 0 auto;
     width:50%; 
     background-color: #d24d57;
 }
 .portfolio-header h2 {
     text-align: center;
     font-weight: bold;
     font-size: 35px;
 }
 .portfolio {
    margin: 0 auto;
    z-index: 1;
    background: #fff;
    padding: 7.5em 0;
    border-bottom: 1px solid #f1f1f1; }
    @media screen and (max-width: 1024px) {
      .portfolio {
        padding: 5em 0; } }
    @media screen and (max-width: 640px) {
      .portfolio {
        padding: 3.125em 0; } 
}
.portfolio .info-container {
        float: left;
        width: 30%;
        text-align: left; 
} 

.portfolio .info-container h3 {
    font-size: 1.875em;
    text-align: center;
    font-weight: bold;
    color: #3b3838;
    margin-bottom: 0.83333em; }
    @media screen and (min-width: 1600px) {
     
      .portfolio .info-container h3 {
        text-align: left; } }
  
  .portfolio .info-container hr {
    background-color: #c5c5c5;
    width: 6%;
    height: 0.0625em;
    border: none;
    margin-left: 47%;
    margin-bottom: 1.5625em; }
    @media screen and (max-width: 1024px) {
     
      .portfolio .info-container hr {
        width: 10%;
        margin-left: 45%; } }
    @media screen and (min-width: 1600px) {
     
      .portfolio .info-container hr {
        width: 30%;
        margin: 1.875em 0; } }
  
 
  .portfolio .info-container p {
    font-size: 1.3em;
    width: 60%;
    margin-left: 20%;
    color: #706f6f;
    text-align: center; }
    @media screen and (max-width: 1024px) {
      
      .portfolio .info-container p {
        width: 80%;
        margin-left: 10%; } }
    @media screen and (max-width: 768px) {
      
      .portfolio .info-container p {
        width: 90%;
        margin-left: 5%; } }
    @media screen and (max-width: 640px) {
     
      .portfolio .info-container p {
        font-size: 1.125em;
        width: 100%;
        margin-left: 0; } }
    @media screen and (min-width: 1600px) {
     
      .portfolio .info-container p {
        text-align: left;
        width: 100%;
        margin-left: 0; } }
  
  .portfolio .info-container a {
    color: #cd3944;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }


      /* ABOUT --------------------------------------------------------------------------------*/
 #about {
    background:#ebebeb;
    padding: 8.5em 0;
    color: #000000;
    text-align: center;   
}
.about-header {
    margin: 0 auto;
    width:50%; 
    background-color: #d24d57;
}
.about-header h2 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
#about-content {
    background: #ffffff;
}
.about-desc { 
    padding: 2% 0;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
}
.laugh {
    font-style: italic;
    text-align: center;
    padding: 0;
}
.body-link {
    text-decoration: none;
    font-family: "Permanent Marker";
    color: #000000;
}
.contact-detail {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}
.contact-email {
    font-family: "Permanent Marker", "Georgia";
    color: #000000;
}
.contact-email a {
    text-decoration: none;
    color: #000000;
}
.social {
    width: 250px;
    margin: 0 auto;
}
#social-links {
    list-style-type: none;
    display: block;
}
#social-links li {
    float: left;
}